<div class="row">
    <div class="column">
        <div id="sli">
            <!-- warnings -->
            <div class="pit" ird-rev-pit></div>
            <!-- /warnings -->

            <!-- shift light indicator -->
            <div class="shift" ird-rev-shift></div>
            <div class="revbar" ird-revbar></div>
            <!-- /shift light indicator -->

            <!-- revbar -->
            <div class="markers" ird-markers></div>
            <!-- /revbar -->
        </div>
    </div>
</div>

<div class="row">
    <div class="column column-15">
        <fieldset id="water-temp" ird-water-temp-warn>
            <legend>wat<small>&deg;C</small></legend>
            <div ird-water-temp></div>
        </fieldset>

        <fieldset id="oil-temp">
            <legend>oil<small>&deg;C</small></legend>
            <div ird-oil-temp></div>
        </fieldset>

        <fieldset id="oil-psi" ird-oil-press-warn>
            <legend>oil<small>PSI</small></legend>
            <div>{{ ir.OilPress | fixed }}</div>
        </fieldset>

        <fieldset id="bat-volt">
            <legend>bat<small>V</small></legend>
            <div ird-voltage></div>
        </fieldset>
    </div>

    <div class="column column-15">
        <fieldset id="map">
            <legend>map</legend>
            <div>{{ ir.dcThrottleShape | fixed }}</div>
        </fieldset>

        <fieldset id="tc">
            <legend>tc</legend>
            <div>{{ ir.dcTractionControl | fixed }}</div>
        </fieldset>

        <fieldset id="abs">
            <legend>abs</legend>
            <div>{{ ir.dcABS | fixed }}</div>
        </fieldset>

        <fieldset id="bb">
            <legend>bb</legend>
            <div ird-brake-bias></div>
        </fieldset>
    </div>

    <div class="column column-25">
        <fieldset id="gear">
            <legend>gear</legend>
            <div>{{ ir.Gear | gear }}</div>
        </fieldset>

        <fieldset id="rpm">
            <legend>rpm</legend>
            <div>{{ ir.RPM | fixed }}</div>
        </fieldset>

        <fieldset id="speed">
            <legend>speed</legend>
            <div>{{ ir.Speed | speed }}</div>
        </fieldset>
    </div>

    <div class="column column-15">
        <fieldset id="lap">
            <legend>lap</legend>
            <div ird-lap></div>
        </fieldset>

        <fieldset id="pos">
            <legend>pos</legend>
            <div ird-pos></div>
        </fieldset>

        <fieldset id="tank" ird-fuel-press-warn>
            <legend>tank<small>L</small></legend>
            <div ird-tank></div>
        </fieldset>

        <fieldset id="fuel">
            <legend>fuel<small>5L</small></legend>
            <div ird-fuel></div>
        </fieldset>
    </div>

    <div class="column column-30">
        <fieldset id="best">
            <legend>best</legend>
            <div>{{ ir.LapBestLapTime | lapTime }}</div>
        </fieldset>

        <fieldset id="last">
            <legend>last</legend>
            <div>{{ ir.LapLastLapTime | lapTime }}</div>
        </fieldset>

        <fieldset id="delta" ird-delta-color>
            <legend>delta</legend>
            <div ird-delta></div>
        </fieldset>

        <div class="row">
            <div class="column column-50">
                <fieldset id="pit">
                    <legend>pit</legend>
                    <div ird-pit></div>
                </fieldset>
            </div>

            <div class="column column-50">
                <fieldset id="take">
                    <legend>take</legend>
                    <div ird-take></div>
                </fieldset>
            </div>
        </div>

    </div>
</div>
