<div id="boards">
    <div class="close" ird-back>&times;</div>
    <div class="row">
        <div class="column column-25">
            <div ng-include="'views/navbar.html'"></div>
        </div>
        <div id="main" class="column column-50">
            <h1>Boards</h1>
            <ul>
                <li>
                    <a href="#/boards/amggt3">Mercedes AMG GT3</a>
                </li>
                <li>
                    <a href="#/boards/renault">Formula Renault 2.0</a>
                </li>
            </ul>
        </div>
    </div>
</div>
