<div id="dashboards" class="container">
    <div class="close" ird-back>&times;</div>
    <div class="row">
        <div class="column column-25">
            <div ng-include="'views/_includes/navigation.html'"></div>
        </div>
        <div id="main" class="column column-75">
            <h1>Dashboards</h1>
            <ul>
                <li>
                    <a href="#/dashboards/mercedes_amg_gt3">Mercedes AMG GT3</a>
                </li>
                <li>
                    <a href="#/dashboards/formula_renault_20">Formula Renault 2.0</a>
                </li>
            </ul>
        </div>
    </div>
</div>
