<div id="dashboards" class="container">
    <div class="close" ird-back>&times;</div>
    <div class="row">
        <div class="column column-25">
            <div ng-include="'views/_includes/navigation.html'"></div>
        </div>
        <div id="main" class="column column-75">
            <h1>Dashboards</h1>
            <ul>
                <li ng-repeat="dashboard in dashboards">
                    <a ng-href="/dashboards/{{ dashboard.id }}">{{ dashboard.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</div>
