<div id="shift-points" class="container">
    <div class="close" ird-back>&times;</div>
    <div class="row">
        <div class="column column-25">
            <div ng-include="'views/_includes/navigation.html'"></div>
        </div>
        <div id="main" class="column column-75">
            <h1>Shift Points</h1>
            <form>
                <div class="row">
                    <div class="column column-25">
                        <label for="selectedCarId">Car:</label>
                    </div>
                    <div class="column column-50">
                        <select id="selectedCarId" name="car" ng-model="selectedCarId">
                            <option ng-repeat="car in availableCars | orderBy:name" value="{{ car.id }}">{{ car.name }}</option>
                        </select>
                    </div>
                </div>
                <fieldset ng-hide="!selectedCarId">
                    <legend>Shift Points</legend>
                    <div class="row">
                        <div class="column column-25 column-offset-25">
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear1">1:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear1" name="carShiftPoints[1]" type="number" ng-model="carShiftPoints[1]" placeholder="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear2">2:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear2" name="carShiftPoints[2]" type="number" ng-model="carShiftPoints[2]" placeholder="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear3">3:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear3" name="carShiftPoints[3]" type="number" ng-model="carShiftPoints[3]" placeholder="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear4">4:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear4" name="carShiftPoints[4]" type="number" ng-model="carShiftPoints[4]" placeholder="0">
                                </div>
                            </div>
                        </div>
                        <div class="column column-25">
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear5">5:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear5" name="carShiftPoints[5]" type="number" ng-model="carShiftPoints[5]" placeholder="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear6">6:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear6" name="carShiftPoints[6]" type="number" ng-model="carShiftPoints[6]" placeholder="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear7">7:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear7" name="carShiftPoints[7]" type="number" ng-model="carShiftPoints[7]" placeholder="0">
                                </div>
                            </div>
                            <div class="row">
                                <div class="column column-25">
                                    <label for="shiftGear8">8:</label>
                                </div>
                                <div class="column column-75">
                                    <input id="shiftGear8" name="carShiftPoints[8]" type="number" ng-model="carShiftPoints[8]" placeholder="0">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="column column-offset-25">
                            <button class="button-primary" type="submit" ng-click="save(allShiftPoints)">
                                Save
                            </button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>
