@import url( 'https://cdnjs.cloudflare.com/ajax/libs/milligram/1.1.0/milligram.min.css');
@import url( 'https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');
@import 'solarized.less';
* {
    /* transition: width 16ms; = 60fps */
    transition-duration: 64ms;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
body,
html {
    height: 100%;
}
body {
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    background-color: @base3;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
}
#dashboard {
    overflow: hidden;
    background-color: @base03;
    width: 80rem;
    height: 48rem;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -24rem 0 0 -40rem;
}
.container {
    padding: 0 1rem;
}
.row {
    .column {
        &.column-15 {
            flex: 0 0 15%;
            max-width: 15%;
        }
        &.column-30 {
            flex: 0 0 30%;
            max-width: 30%;
        }
    }
}

fieldset {
    border: .2rem solid @base01;
    margin: 0 0 2rem 0;
    padding: 0;
    legend {
        cursor: default;
        color: @base1;
        font-size: 1.25rem;
        font-weight: 500;
        padding: 0 1rem;
        text-align: center;
        text-transform: lowercase;
        line-height: 1.25;
        small {
            font-size: .75rem;
            font-weight: 300;
            line-height: 1.25;
            margin-left: 1rem;
        }
    }
    div {
        cursor: default;
        color: @base3;
        font-size: 3rem;
        font-weight: 700;
        text-align: center;
        line-height: 2;
        sub {
            font-weight: normal;
            font-size: 1.25rem;
            line-height: 1;
        }
        sup {
            font-weight: normal;
            font-size: 1.25rem;
            line-height: 1;
        }
    }
    &.warning {
        border-color: @red;
        legend {
            color: @red;
        }
    }
    &#delta {
        &.faster div {
            color: @green;
        }
        &.slower div {
            color: @red;
        }
    }
}
#sli {
    height: 6rem;
    position: relative;
    margin: 1rem 0;
    .markers {
        width: 100%;
        height: 6rem;
        display: table;
        table-layout: fixed;
        .marker {
            border-right: .2rem solid @base2;
            color: @base3;
            display: table-cell;
            position: relative;
            height: 6rem;
            z-index: 3;
            &:first-child {
                border-left: .1rem solid @base2;
            }
            &:last-child {
                border-right: .1rem solid @base2;
            }
            .rpm {
                padding: 0 1.5rem;
                line-height: 2;
                font-weight: bold;
                font-size: 1.5rem;
            }
            .m25,
            .m50,
            .m75 {
                width: .1rem;
                background-color: @base2;
                display: block;
                position: absolute;
                bottom: 0;
            }
            .m25,
            .m75 {
                height: 1rem;
            }
            .m25 {
                left: 25%;
            }
            .m50 {
                height: 2rem;
                left: 50%;
            }
            .m75 {
                left: 75%;
            }
        }
    }
    .pit {
        width: 80rem;
        height: 8rem;
        position: absolute;
        top: -1rem;
        left: -1rem;
        z-index: 5;
        background-color: @blue;
        display: none;
    }
    .shift {
        width: 80rem;
        height: 8rem;
        position: absolute;
        top: -1rem;
        left: -1rem;
        right: 0;
        z-index: 2;
        background-color: @red;
        display: none;
    }
    .revbar {
        background-color: @blue;
        position: absolute;
        height: 2.5rem;
        bottom: 0;
        left: 0;
        z-index: 1;
        width: 0;
    }
}
#gear {
    -webkit-app-region: drag;
    -webkit-user-select: none;
    div {
        font-size: 13rem;
        line-height: 1.25;
        &:hover {
            cursor: move;
        }
    }
}
#config {
    background-color: @base3;
    color: @base03;
    margin: 1rem 0;

    .close {
        background-color: @base03;
        color: @base3;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 1rem;
        cursor: pointer;
        width: 3rem;
        height: 3rem;
        text-align: center;
        line-height: 2;
    }

    nav {
        border-right: .2rem solid @base03;

        ul {
            margin: 0;
            padding: 0;

            li {
                border-bottom: .1rem solid @base03;
                list-style-type: none;
                margin: 0;
                padding: 0;

                a {
                    color: @base03;
                    font-size: 2rem;
                    line-height: 2.5;
                    padding: 0 1rem;
                }
            }
        }

    }
}
